
.mb-4 span {
    font-family: "Varela Round", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #EE7D31 !important;
}

#ftco-navbar {
    background: #2a303c !important;
}

#footer_sct {
    height: 100% !important;
    padding: 2em;
    background: #2a303c !important;
}
.ftco-footer-widget h2 {
    margin-bottom: 0px !important;
}

#footer_sct .mb-5{
    margin-bottom: 0 !important;
}

.modal-header .close-modal {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    background: 0 0;
    cursor: pointer;
    border: 0;
}
.ftco-navbar-light .container {
    background: #2a303c !important;   
}
#ftco-nav{
    margin-left: 50px;
}
#ftco-navbar img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}
.appointment-form option{
    color: black !important;
}